.fp {
    font-size: 8vw;
    left: 11.5vw;
}
.sd,.td {
    grid-template-columns: 30vw;
    grid-template-rows: 20vh 20vh 20vh;
    top: 11vh;
    left: 35vw;
}
.sd {
    font-size: 3vw;
}
.td {
    font-size: 12vw;
}
.pointer,button {
    font-size: 5vw;
}
.pointer {
    top: 69vh;
    left: 21vw;
}
button {
    top: 79vh;
    left: 37.5vw;
    width: 25vw;
}