body {
    background-color: rgb(50, 50, 50);
    color: rgb(175, 175, 175);
    /* font-size: 65px; */
    font-size: 16.97vw;
    /* margin: 15px; */
    /* margin: 3.25vh 3.9vw; */
    margin: 3.9vw;
    font-family: Arial;
    transition: background-color 0.5s, color 0.5s;
}
.body-day {
    background-color: rgb(220, 220, 220);
    color: rgb(100, 100, 100);
}
.body-started{
    color: white;
}
.main {
    /* padding-top: 50px; */
    /* padding-top: 10.846vh; */
    padding-top: 13.0548vw;
    /* padding-left: 20px; */
    padding-left: 5.22vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(50, 50, 50);
    transition: background-color 0.5s, padding 0.5s;
    display: inline-block;
}
.main-day {
    background-color: rgb(220, 220, 220);
}
.main-down {
    /* padding-top: 100px; */
    /* padding-top: 21.69vh; */
    padding-top: 26.11vw;
}
.milisec {
    /* font-size: 45px; */
    font-size: 11.749vw;
}
.ptimer {
    margin: 0;
}
.photo,.reset {
    /* height: 20px; */
    height: 5.51vw;
    /* width: 20px; */
    width: 5.51vw;
}
.play {
    /* height: 20px; */
    height: 5.51vw;
    /* width: 20px; */
    width: 5.51vw;
}
.bfirst {
    border-radius: 100px;
    background-color: rgb(135, 207, 255);
    /* padding: 18.2px 18.1px 16.2px 20.5px; */
    /* padding: 15.6px 16.4px 13.8px 17.2px; */
    padding: 4.073vw 4.282vw 3.603vw 4.49vw;
    border: none;
    cursor: pointer;
    /* margin-right: 20px; */
    margin-right: 5.51vw;
}
.bsecond {
    background-color: rgba(50, 50, 50, 0);
    border-radius: 100px;
    /* padding: 5px 15px 0 15px; */
    padding: 1.305vw 3.916vw 0 3.916vw;
    /* border: solid 2px gray; */
    border: solid 0.522vw gray;
    opacity: 0.5;
    cursor: pointer;
    /* margin-right: 20px; */
    margin-right: 5.51vw;
    transition: opacity 0.5s;
}
.bthird {
    background-color: rgb(50, 50, 50, 0);
    border-radius: 100px;
    /* border: solid 2px gray; */
    border: solid 0.522vw gray;
    opacity: 0.5;
    cursor: pointer;
    /* width: 52.81px; */
    width: 13.7885vw;
    transition: opacity 0.5s;
}
.dundertext {
    display: grid;
    /* grid-template-columns: 70px 110px 64px; */
    grid-template-columns: 18.276vw 28.72vw 16.71vw;
    /* font-size: 20px; */
    font-size: 5.2219vw;
    align-items: center;
    cursor: default;
}
.pundertext {
    margin: 0;
    justify-self: center;
}
.dbuttons {
    display: grid;
    /* grid-template-columns: 72.8px 72.8px 72.8px; */
    grid-template-columns: 19vw 19vw 19vw;
    /* margin-left: 70.8px; */
    margin-left: 18.485vw;
    /* margin-top: 40px; */
    /* margin-top: 8.67vh; */
    margin-top: 10.44vw;
    transition: grid-template-columns 0.5s, margin-left 0.5s;
}
.dbuttons-expand {
    /* grid-template-columns: 72.8px 0 72.8px; */
    grid-template-columns: 19vw 0 19vw;
    /* margin-left: 107.2px; */
    margin-left: 27.9895vw;
}
.bsecond-started,.bthird-started {
    opacity: 1;
}
.dflaglist-toppic,.flag {
    cursor: default;
    display: grid;
    /* grid-template-columns: 136px 163px 150px; */
    /* grid-template-columns: 120px 120px 80px; */
    grid-template-columns: 31.331vw 31.331vw 20.8877vw;
    color: white;
    /* margin-left: 3px; */
    margin-left: 0.783vw;
    font-family: Arial;
    font-weight: 500;
    /* font-size: 13.5px; */
    font-size: 3.5248vw;
    transition: opacity 0.5s;
}
.dflaglist-toppic {
    /* margin-top: 20px; */
    /* margin-top: 4.3384vh; */
    margin-top: 5.51vw;
}
.hr {
    margin: 0;
    background-color: rgb(92, 92, 92);
    border: none;
    /* height: 1.5px; */
    /* height: 0.3253796vh; */
    height: 0.391644908616188vw;
    /* width: 327px; */
    width: 85.37859vw;
}
/* .hr-day {
    color: black;
} */
.flag {
    /* margin-top: 330px; */
    /* margin-top: 71.5835vh; */
    margin-top: 86.16187989556136vw;
    /* padding-left: 10px; */
    padding-left: 2.61vw;
    margin-right: 0;
}
.flag-hide,.bsecond-hide,.dflaglist-toppic-hide {
    opacity: 0;
}
.flag-day {
    color: black;
}
.laps {
    display: grid;
    /* grid-template-columns: 30px 1fr; */
    grid-template-columns: 7.832vw 1fr;
}
.dupper-button {
    display: grid;
    /* grid-template-columns: 15px 15px; */
    grid-template-columns: 3.916vw 3.916vw;
    /* grid-template-rows: 15px; */
    /* grid-template-rows: 3.254vh; */
    grid-template-rows: 3.916vw;
    /* margin-left: 260px; */
    margin-left: 67.885vw;
    /* margin-bottom: 10px; */
    /* margin-bottom: 2.169vh; */
    margin-bottom: 2.26vw;
    /* grid-column-gap: 25px; */
    grid-column-gap: 6.527vw;
}
.bupper-button {
    background-color: rgba(50, 50, 50, 0);
    border: none;
    /* height: 35px; */
    /* height: 7.592vh; */
    height: 9.138vw;
    /* width: 35px; */
    width: 9.138vw;
    /* border-radius: 3px; */
    border-radius: 0.783vw;
    cursor: pointer;
}
.imode,.expand-img {
    /* height: 25px; */
    /* height: 5.423vh; */
    height: 6.527vw;
    /* width: 25px; */
    width: 6.527vw;
}
.body-day.body-started,.dflaglist-toppic-day {
    color: black;
}
.upper-menu {
    position: fixed;
    /* top: 5px; */
    /* top: 1.08vh; */
    top: 1.305vw;
    /* left: 5px; */
    left: 1.305vw;
    display: grid;
    /* grid-template-columns: 35px; */
    grid-template-columns: 9.138vw;
    /* grid-template-rows: 35px 35px; */
    /* grid-template-rows: 7.592vh 7.592vh; */
    grid-template-rows: 9.138vw 9.138vw;
    /* grid-row-gap: 5px; */
    grid-row-gap: 1.305vw;
}
.bsettings,.babout {
    background-color: rgba(50, 50, 50, 0);
    border: none;
    /* border-radius: 3px; */
    border-radius: 0.783vw;
    cursor: pointer;
}
.pupper-menu {
    /* font-size: 13px; */
    font-size: 3.394vw;
    color: white;
    position: fixed;
    top: 0;
    /* left: -60px; */
    left: -15.665vw;
    opacity: 0;
    transition: left 0.8s;
}
.pabout {
    /* top: 40px; */
    /* top: 8.6767vh; */
    top: 10.4438vw;
}
.pupper-menu-light {
    color: black;
}
.isettings {
    /* height: 15px; */
    /* height: 3.2538vh; */
    height: 3.916vw;
    /* width: 15px; */
    width: 3.916vw;
    /* margin: 5px; */
    /* margin: 1.08vh 1.305vw; */
    margin: 1.305vw;
    transition: margin-left 0.5s;
}
.iabout {
    /* height: 20px; */
    /* height: 4.338vh; */
    height: 5.222vw;
    /* width: 20px; */
    width: 5.222vw;
    /* margin: 2.5px; */
    /* margin: 0.5423vh 0.6527vw; */
    margin: 0.6527vw;
    transition: margin-left 0.5s;
}
.bsettings:hover,.babout:hover,.bupper-button:hover {
    background-color: rgb(100, 100, 100);
    transition: background-color 0.5s;
}
.bupper-menu-light:hover,.bupper-button-light:hover {
    background-color: rgb(175, 175, 175);
}
.bsettings:hover {
    /* width: 130px; */
    width: 33.94vw;
    .psettings {
        /* left: 25px; */
        left: 6.527vw;
        opacity: 1;
    }
    .isettings {
        /* margin-left: 80px; */
        margin-left: 20.8877vw;
    }
}
.babout:hover {
    /* width: 130px; */
    width: 33.94vw;
    .pabout {
        /* left: 25px; */
        left: 6.527vw;
        opacity: 1;
    }
    .iabout {
        /* margin-left: 80px; */
        margin-left: 20.8877vw;
    }
}