body {
    background-color: rgb(11, 11, 25);
    font-family: Arial;
    color: rgb(178, 175, 197);
    font-size: 45px;
}
.ptimer {
    margin-top: 50px;
    margin-left: 28px;
    margin-bottom: 10px;
}
.ptimer-lap {
    font-size: 22px;
    font-weight: lighter;
    margin-left: 73px;
    margin-top: 0;    
}
.dbuttons {
    position: fixed;
    top: 300px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 20px;
}
.bfirst,.bsecond {
    height: 35px;
    width: 90px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.bfirst {
    background-color: rgb(176, 195, 176);
    justify-self: left;
}
.bsecond {
    background-color: rgb(37, 37, 37);
    justify-self: right;
}
.dflaglist-toppic,.flag {
    cursor: default;
    display: grid;
    grid-template-columns: 40px 80px 80px;
    color: white;
    margin-left: 3px;
    font-family: Arial;
    font-weight: 500;
    margin-left: 20px;
    color: rgb(178, 175, 197);
}
.dflaglist-toppic {
    font-size: 12px;
    margin-top: 20px;
}
.hr {
    margin: 0;
    background-color: rgb(92, 92, 92);
    border: none;
    height: 0.5px;
    width: 200px;
    margin-left: 14px;
}
.bfirst-stop {
    background-color: red;
}
.flag {
    font-size: 15.5px;
}
.l {
    color: rgb(249, 126, 126);
}
.ot {
    color: rgb(176, 195, 176);
}
.perror {
    color: rgb(249, 126, 126);
    font-size: small;
    width: 200px;
    margin-left: 20px;
}
.bsecond-blur {
    opacity: 0.5;
}